spring:
    data:
        mongodb:
            uri: #your mongodb url
            database: journaldb
            auto-index-creation: true

server:
    port: 8080
    servlet:
        context-path: /api
